/*Tablet de 576 a 740 */
@media (min-width:576px) and (max-width:740px){
    body{
        .contacto{
            grid-template-areas: 
            "h1"
            "div "
            "section";
            width: auto;
            h1{
                grid-area: h1;
            }
            section{
                grid-area: section;
                padding: 0;
                width: auto;
                .formulario{
                    width: 500px;
                    div{
                        input{
                            width: 480px;
                        }
                    }
                    textarea{
                        width: 480px;
                    }
                    button{
                        width: 300px; 
                        margin-left: 90px;
                    }
                }
            }
            .mensaje{
                grid-area: div;
                width: 500px;
                .map{
                    iframe{
                        width: 400px;
                    }
                }
            }
        }
    }
}
/* tablet contacto */
@media (min-width:740px) and (max-width:1000px){
    body{
        .contacto{
            grid-template-areas: 
            "h1"
            "div section "
            "div section";
            width: auto;
            h1{
                grid-area: h1;
            }
            section{
                grid-area: section;
                padding: 0;
                width: auto;
                .formulario{
                    width: 300px;
                    div{
                        input{
                            width: 285px; 
                        }
                    }
                    textarea{
                        width: 285px;
                    }
                    button{
                        width: 200px; 
                        margin-left: 40px;
                    }
                }
            }
            .mensaje{
                grid-area: div;
                width: 380px;
                .map{
                    iframe{
                        width: 350px;
                    }
                }
            }
        }
    }
}
/* tablet contacto */
@media (min-width:1000px) and (max-width:1100px){
    body{
        .contacto{
            grid-template-areas: 
            "h1"
            "div section "
            "div section";
            width: auto;
            h1{
                grid-area: h1;
            }
            section{
                grid-area: section;
                padding: 0;
                width: auto;
                .formulario{
                    width: 400px;
                    div{
                        input{
                            width: 385px;
                        }
                    }
                    textarea{
                        width: 385px;
                    
                    }
                    button{
                        width: 250px; 
                        margin-left: 70px;
                    }
                }
            }
            .mensaje{
                grid-area: div;
                width: 380px;
                .map{
                    iframe{
                        width: 350px;
                    }
                }
            }
        }
    }
}