/* MOVIL NOSOTROS */
@media (min-width:340px) and (max-width:576px){
    .body_nosotros{
        .somos{
            section{
                height: 350px;
                div{
                    @include nosotros(auto,2px,2px);
                }
            }
            p{
                @include nosotros(auto,4px,4px);
            }
        }
    }
    
}
/*MOVIL 320 0 400*/
@media(min-width:320px) and (max-width:400px)
{
    .body_nosotros{
        .boton{
            margin-bottom: 20px;
            a{
                font-size: 16px;
                width: 30px;
                img{
                    width: 40px;
                }
            }
        }
        .somos{
            section{
                height: 350px;
                div{
                    @include nosotros (auto,2px,2px);
                }
            }
            p{
                @include nosotros(auto,4px,4px);
            }
        }
    }
}