/*PAGINA PRINCIPAL*/
body{
    height: 100%;

    background: linear-gradient(to bottom,gray,#5d9ec6);
    header{
    .navbar-brand{
        color: map-get($fondo,secundario);

    }
    .navbar-brand:hover{
        color: map-get($fondo,secundario);
    }
    .nav-link{
        color: map-get($fondo,secundario);
    }
    .nav-link:hover{
        color: map-get($fondo,secundario);
    }
    .nav-link {
        text-decoration: none;
        color:white; /* Color inicial del texto */
    }
    
    .nav-item.dropdown .nav-link.active,
    .nav-item.dropdown .nav-link:active {
        color:white;
    }
    
    
    
}
main{
    div{
        h5{
            text-align: center;
            margin-top: -200px;
            font-size: 30px;
        }
        .sliter{
            width: 100%;
            height: 500px;
        }
    }
    .clipped{
        overflow: hidden;
        display: block;
        margin: 0;
        clip-path: inset(50%);
        z-index: -1;
    }
    .carousel{
        margin:-48px 0px 80px 0px;

    }
    section{
        .carousel-caption{
            color:map-get($fondo,secundario);
            font-size: 40px;
            margin-right: 400px;
            height: 500px;
        }
        .paginas{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 1fr;
            row-gap: 60px;
            padding-top: 30px;
            padding-bottom: 50px;
            justify-items: center;
            .texto{
                display: grid;
                color:map-get($fondo,secundario);
                font-size: 25px;
                justify-content:center;
                align-items: center;
                margin: -150px 0px 150px 0px;
            }
            .zoom1:hover{
                @extend .extend-zoom;
            }
            .zoom2:hover{
                @extend .extend-zoom;
            }
            #imagen2{
                height: 227px;
            }
            .zoom3:hover{
                @extend .extend-zoom;
            }
        }
    }
    .planificar{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 50px;
        height:100%;
        width: 100%;
        div{
            color: black;
            font-weight: 800;
            h5{
                font-size: 25px;
                font-weight: 800;
            }
        }
    }

}
/**footer**/

footer{
    background-color: black;
    height: 70px;
    .footer{ 
        @include medidas(100%,100%);
        display: flex;
        align-items: center;    
    }
    .contacto2{
        margin-right:100px;
        a{
            text-decoration: none;
            color: map-get($fondo,secundario);
        }
    }
    
    nav{
        ul{
            display: flex;
            margin:50px;
            padding: 0;
            text-align: right;
            justify-content:start;
            li{
                display: flex;
                text-decoration: none;
                img{
                    @include medidas(30px,30px);
                }
            }
        }
    }
    
}
}


/* MOVIL */
@media (min-width:340px) and (max-width:630px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
        height: 100%;
        width: $full-width;
        header{
            .navbar-toggler{
                background-color: white;
            }
            .nav-item{
                text-align: center;
                .dropdown-item{
                    text-align: center;
                }
            }
        }
    main{
        .slide{
            width:auto;
            img{
                height: 300px;
            }
            div{
                .carousel-caption{
                    h5{
                    color:map-get($fondo,secundario);
                    font-size: 20px;
                    padding-top: 80px;
                    }
                }
            }
            
        }
        section{
            .paginas{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows:repeat(2,1fr);
                justify-items: center;
                padding:0;
                gap: 10px;
                img{
                    @include medidas(280px,227px);
                }
            }
        }
        
    }
    footer{
        margin:0;
        display: flex;
        nav{ 
            ul {
            justify-content: center;}
        }
        }
    
}
}
/* Vista de 320 a 400 */
@media (min-width:320px) and (max-width:400px){
    body{
        .boton{
            margin-bottom: 20px;
            a{
                font-size: 15px;
                width: 30px;
                img{
                    width: 40px;
                }
            }
        }
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
        height: 100%;
        width: $full-width;
        header{
            .navbar-toggler{
                background-color: white;
            }
            .nav-item{
                text-align: center;
                .dropdown-item{
                    text-align: center;
                }
            }
        }
    main{
        .slide{
            width:auto;
            img{
                height: 300px;
            }
            div{
                .carousel-caption{
                    h5{
                    color:map-get($fondo,secundario);
                    font-size: 20px;
                    padding-top: 80px;
                    }
                }
            }
            
        }
        section{
            .paginas{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows:repeat(2,1fr);
                justify-items: center;
                padding:0;
                gap: 10px;
                img{
                    @include medidas(280px,227px);
                }
            }
        }
        
    }
    footer{
        margin:0;
        display: flex;
        nav{ 
            ul {
            justify-content: center;}
        }
        }
    
}
}
/*TABLET*/
@media (min-width:630px) and (max-width:991px)
{
    body{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer"
        ;
        height: auto;
        width: $full-width;
        header{
            .navbar-toggler{
                background-color: white;
            }
            .nav-item{
                text-align: center;
                .dropdown-item{
                    text-align: center;
                }
            }
        }
    main{
        .slide{
            width:auto;
            img{
                height: 500px;
            }
            div{
                .carousel-caption{
                    h5{
                    color:map-get($fondo,secundario);
                    font-size: 30px;
                    padding-top: 30px;
                    }
                }
            }
            
        }
        section{
            .paginas{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows:1fr;
                justify-items: center;
                padding:0;
                gap:40px;
                margin-bottom: 20px;
                img{
                    @include medidas(280px,227px);
                }
            }
        }
        
    }
footer{
    background-color: black;
    height: 70px;
    .footer{ 
        @include medidas(100%,100%);
        display: flex;
        align-items: center;    
    }
    .contacto2{
        margin-right:100px;
        a{
            text-decoration: none;
            color: map-get($fondo,secundario);
        }
    }
    
    nav{
        ul{
            display: flex;
            margin:50px;
            padding: 0;
            text-align: right;
            justify-content:start;
            li{
                display: flex;
                text-decoration: none;
                img{
                    @include medidas(30px,30px);
                }
            }
        }
    }
    
}
}
}
