/*PAGINA PRINCIPAL*/
body{
    height: $full-height;

    background: linear-gradient(to bottom,gray,#5d9ec6);
    header{
    .navbar-brand{
        color: map-get($fondo,secundario);

    }
    .navbar-brand:hover{
        color: map-get($fondo,secundario);
    }
    .nav-link{
        color: map-get($fondo,secundario);
    }
    .nav-link:hover{
        color: map-get($fondo,secundario);
    }
    .nav-link {
        text-decoration: none;
        color:map-get($fondo,secundario)/* Color inicial del texto */
    }
    
    .nav-item.dropdown .nav-link.active,
    .nav-item.dropdown .nav-link:active {
        color:map-get($fondo,secundario);
    }
    
    
    
}
main{
    div{
        h5{
            text-align: center;
            margin-top: -200px;
            font-size: 30px;
        }
        .sliter{
            @include medidas (100%,100%);
        }
    }
    .clipped{
        overflow: hidden;
        display: block;
        margin: 0;
        clip-path: inset(50%);
        z-index: -1;
    }
    .carousel{
        margin:-48px 0px 80px 0px;

    }
    section{
        .carousel-caption{
            color:map-get($fondo,secundario);
            font-size: 40px;
            margin-right: 400px;
            height: 500px;
        }
        .paginas{
            @extend .grilla;
            row-gap: 60px;
            padding-top: 30px;
            padding-bottom: 50px;
            justify-items: center;
            .texto{
                display: grid;
                color:map-get($fondo,secundario);
                font-size: 25px;
                @include pos (center,center);
                margin: -150px 0px 150px 0px;
            }
            .zoom1:hover{
                @extend .extend-zoom;
            }
            .zoom2:hover{
                @extend .extend-zoom;
            }
            #imagen2{
                height: 227px;
            }
            .zoom3:hover{
                @extend .extend-zoom;
            }
        }
    }
    .planificar{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 50px;
        @include medidas(100%,100%);
        div{
            color: black;
            font-weight: 800;
            h5{
                font-size: 25px;
                font-weight: 800;
            }
        }
    }

}
/**footer**/

footer{
    background-color: black;
    height: 70px;
    .footer{ 
        @include medidas(100%,100%);
        display: flex;
        align-items: center;    
    }
    .contacto2{
        margin-right:100px;
        a{
            text-decoration: none;
            color: map-get($fondo,secundario);
        }
    }
    
    nav{
        ul{
            display: flex;
            margin:50px;
            padding: 0;
            text-align: right;
            justify-content:start;
            li{
                display: flex;
                text-decoration: none;
                img{
                    @include medidas(30px,30px);
                }
            }
        }
    }
    
}
}