@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import 'principal';
@import 'principal_movil';
@import 'principal_tablet';
@import 'aventuras';
@import 'aventuras_movil';
@import 'aventuras_tablet';
@import 'nosotros';
@import 'nosotros_movil';
@import 'nosotros_tablet';
@import 'contacto';
@import 'contacto_movil';
@import 'contacto_tablet';
@import 'subpaginas';
@import 'sub_movil';
@import 'sub_tablet';
/* PAGINA PRINCIPAL */
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}